<?php

# Define the settings
$settings = array (
	'hostname' => 'localhost',
	'username' => 'my_username',
	'password' => 'my_password',
);

# Load and run the Muscat conversion class
require_once ('muscat-conversion/muscatConversion.php');
new muscatConversion ($settings);

?>