<?php

# Define the settings
$settings = array (
	'username' => 'my_username',
	'password' => 'my_password',
);

# Load and run the Muscat conversion class
require_once ('vendor/autoload.php');
new muscatConversion ($settings);

?>
